{% extends 'base.html' %}
{% load static %}
{% block title %}File Marketleri- Kayahan Mimarlık & İnşaat {% endblock %}
{% block content %} 
<main class="main">
  <div class="page-title dark-background" style="background-image: url({% static 'img/page-title-bg.jpg' %});">
    <div class="container position-relative">
      <h1>File Marketleri</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'home' %}">Ana Sayfa</a></li>
          <li><a href="{% url 'projects' %}">Projeler</a></li>
          <li class="current"> File Marketleri</li>
        </ol>
      </nav>
    </div>
  </div>
  <section class="service-details section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4">
          <div class="services-list">
            <a href="{% url 'antalya_airport' %}">Antalya Havalimanı Genişletme Projesii</a>
            <a href="{% url 'arnavutkoy_bb' %}">Arnavutköy Belediye Binası </a>
            <a href="{% url 'file' %}">Koçtaş Mağazaları</a>
            <a href="{% url 'evidea' %}">Evidea Mağazaları</a>
            <a href="{% url 'file' %}" class="active">File Marketleri</a>
            <a href="{% url 'penti' %}">Penti Mağazaları</a>
            <a href="{% url 'starbucks' %}" >Starbucks Kafe</a>

          </div>
        </div>
        <div class="col-lg-8">
          <h3>File Marketleri</h3>
          <p>3D görselleştirmeler ve konsept tasarımlarla beraber inşai süreçler bizim tarafımızdangerçekleştirimiştir .</p>
          <ul>
            <li><i class="bi bi-check-circle"></i>Mimaroba File Market ,  Edremit File Market &  Novada File Marketleri </li>
            <li><i class="bi bi-check-circle"></i> Tüm iç tasarım ve mimari dekorasyonalrar </li>
          </ul>
             <div class="row g-4">  <!-- g-4 Bootstrap boşluk bırakır -->

              <div class="col-12 col-sm-6 col-lg-4">
                <div class="project-card">
                  <img src="{% static 'img/projects/file/1.jpg' %}" alt="file">
                </div>
              </div>

              <div class="col-12 col-sm-6 col-lg-4">
                <div class="project-card">
                  <img src="{% static 'img/projects/file/2.jpg' %}" alt="file">    
                   </div>
              </div>

              <div class="col-12 col-sm-6 col-lg-4">
                <div class="project-card">
                  <img src="{% static 'img/projects/file/3.jpg' %}" alt="file">
                </div>
              </div>

              <div class="col-12 col-sm-6 col-lg-4">
                <div class="project-card">
                  <img src="{% static 'img/projects/file/4.jpg' %}" alt="file">
                </div>
              </div>

            </div>

        </div>

        
      </div>
    </div>
  </section>
</main>
{% endblock %}
