{% extends 'base.html' %}
{% load static %}
{% block title %}Starbucks - Kayahan Mimarlık & İnşaat {% endblock %}
{% block content %} 
<main class="main">
  <div class="page-title dark-background" style="background-image: url({% static 'img/page-title-bg.jpg' %});">
    <div class="container position-relative">
      <h1>Starbucks</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'home' %}">Ana Sayfa</a></li>
          <li><a href="{% url 'projects' %}">Projeler</a></li>
          <li class="current">Starbucks</li>
        </ol>
      </nav>
    </div>
  </div>
  <section class="service-details section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4">
          <div class="services-list">
            <a href="{% url 'antalya_airport' %}">Antalya Havalimanı Genişletme Projesii</a>
            <a href="{% url 'arnavutkoy_bb' %}">Arnavutköy Belediye Binası </a>
            <a href="{% url 'koctas' %}">Koçtaş Mağazaları</a>
            <a href="{% url 'evidea' %}">Evidea Mağazaları</a>
            <a href="{% url 'file' %}">File Marketleri</a>
            <a href="{% url 'penti' %}">Penti Mağazaları</a>
            <a href="{% url 'starbucks' %}" class="active">Starbucks Kafe</a>

          </div>
        </div>
        <div class="col-lg-8">
          <img src="{% static 'img/projects/starbucks.png' %}" alt="İç Mimarlık" class="img-fluid services-img">
          <h3>Zekeriyaköy Starbucks  </h3>
          <p>3D görselleştirmeler ve konsept tasarımlarla beraber tüm inşai süreçler bizim tarafımızdangerçekleştirimiştir .</p>
          <ul>
            <li><i class="bi bi-check-circle"></i> dış tadilat & iç tadilat </li>
            <li><i class="bi bi-check-circle"></i> Mimari Dekorasyon ile estetik görünüm </li>
            <li><i class="bi bi-check-circle"></i> Kısa Dürede Mükemmel Yapı</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
